<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"> </include>

  <arg name="robot_model" default="$(find chess_rob)/urdf/chess_rob.urdf"/>

  <param name="robot_description" textfile="$(find chess_rob)/urdf/chess_rob.urdf" />


  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_gazebo_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -param robot_description -model chess_rob -x 0 -y 0 -z 0"
        respawn="false" output="screen" />

</launch>
