<launch>

<include
    file="$(find chess_rob)/launch/gazebo.launch"/>

<rosparam
    file="$(find chess_rob)/config/joint_controllers.yaml"
    command="load" >
</rosparam>

<node
    name="controller_spawner" 
    pkg="controller_manager"
    ns="/chess_rob"
    type="spawner"
    args="
       joint_state_controller
       arm_controller
    ">
</node>
    

</launch>